.header {
  
    display: flex;
    align-items: center;
    padding: 22px 165px;
    justify-content: space-between;

    
    &__menu {
        display: none;
    }
    
    &__logo {
        display: block;
        margin-right: 58px;
        
    }
    
    &__left {
        display: flex;
        margin: 0;
    }
    
    .nav {
        list-style-type: none;
        display: flex;
      
       
        
        &__item {
            margin-left: 32px;
        }
        
        &__item:first-child {
            margin-left: 0;
        }
        
        
        
        &__link {
            text-decoration: none;
            text-transform:capitalize;
            font-family: "Space Mono";
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            color: $main-grey;
            transition: all 0.5s ease;
            
            &:active {
                color: $main-yellow;
            }
            
        }
    }
    
    &__btn {
        margin: 0;
        margin-left: auto;
        padding: 14px 39px;
        background-color: $main-yellow;
        border: 1px solid $main-yellow;
        
        &__link {
            text-decoration: none;
            font-family: "Space Mono";
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            color: #fff;
            
        }
        
        &:hover {
            background-color: #fff;
            border: 3px solid $main-yellow;
            
            & a {
                font-family: "Space Mono";
                font-size: 15px;
                font-weight: 700;
                line-height: 25px;
                color: $main-yellow;
                
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header {
        padding: 34px 40px;

    }
}

@media only screen and (max-width:375px) {
    
    .header {
        position: relative;
        
        &__logo {
            flex-shrink: 0;
            margin: 0;
            width: 75px;
            height: 20px;
        }
        
        
        .nav {
            display: none;
            z-index: 1;
            max-width: 256px;
            padding-top: 55px;
            padding-left: 32px;
            padding-bottom: 350px;
            position: absolute;
            top: 100%;
            left: 0;
            right:0;
            flex-direction: column;
            background-color: #333A44;
            
            &__item {
                margin: 0;
                margin-bottom: 24px;
            }
            
            &__link {
                font-family: "Space Mono";
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                color: $main-dim-white;
            } 
        }
        
        &__btn {
            display:none;
            position: absolute;
            top: 526px;
            left: 0;
            padding:14px 57px;
            margin: 32px;
        }
        &__menu {
            display: block;
            width: 19px;
            height: 16px;
            padding: 0;
            border: none;
            background-color: transparent;
            background-image: url(../../img/menu.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            cursor: pointer;
            margin-right: 70px;
            
            &--active {
                background-image: url(../../img/menu-x.png);
            }
            
            &--active ~ .header__nav  {
                display: flex;
            } 
            &--active .header__btn  {
                display: block;
            } 
            
            
        }
    }
}